[submodule "zprize-2023-prize1b"]
	path = zprize-2023-prize1b
	url = https://github.com/cysic-janitor/zprize-2023-prize1b
[submodule "zprize-2024-prize-1B"]
	path = zprize-2024-prize-1B
	url = https://github.com/cysic-janitor/zprize-2024-prize-1B
[submodule "fpga_ponos_submission"]
	path = fpga_ponos_submission
	url = https://github.com/cysic-janitor/fpga_ponos_submission
[submodule "gpu_trapdoor_submission"]
	path = gpu_trapdoor_submission
	url = https://github.com/cysic-janitor/gpu_trapdoor_submission
[submodule "gpu_snarkify_submission"]
	path = gpu_snarkify_submission
	url = https://github.com/cysic-janitor/gpu_snarkify_submission
[submodule "gpu_mikevoronov_submission"]
	path = gpu_mikevoronov_submission
	url = https://github.com/cysic-janitor/gpu_mikevoronov_submission
