*.data
*.dat
*.mem
*.txt
sim
*sim
secureip/
.cxl*
*.bak
build_dir*
_x.hw*
_x.*
.ipcache
__pycache__
makefile_temp.vh
generated
*run
.Xil
*.log
*.jou
.vscode
*.str
*.pb
*.wdb
xsim*
packaged_kernel*
tmp_kernel_pack*
*.csv
*bin
*summary
*.json
*link*
.run
1
*.zip
bin*
myproj
_x*
*.pyc
vivado_pid*
hd_visual*

